body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 80px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-size: 150%;
}

.nav-links {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: black;
  font-style: normal;
  text-decoration: none;

}

a:hover {
  color: #59acff;
}
