body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.header {
  padding: 0px;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-size: 150%;
}

#header-main {
  padding: 80px;
  padding-bottom: 0px;
}

.main-title {
  border-bottom: 2px solid black;
  padding: 5px 0 0 0;
  margin: 0;
}

.page-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.nav-links {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.main-column {
  margin: auto;
  width: 40%;
  font-size: 90%;
}

.image-container {
  text-align: center;
  padding-bottom: 50px;
}

.dat-me {
  max-width: 40%;
  max-height: 40%;
}

a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

a#main:hover {
  color: #eb5e34;
}


a#about:hover {
  color: #59acff;
}
