[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/i-loder-matthew/i-loder-matthew.github.io.git
	branch = master
