---
layout: default
title: Research
---

<h1> Current Research </h1>
{% for element in site.data.research %}
  <h3>{{ element.section }}</h3>
  <ul>
    {% for item in element.items %}
      <li> {% if item.link %}<a href="{{ item.link }}"> {% endif %}<strong>{{ item.title }}</strong>{% if item.link %}</a>{% endif %}
        <br>
        <em>{{ item.subline }}</em>
        <br>
        <p>{{ item.description }}</p>
      </li>
    {% endfor %}
  </ul>
{% endfor %}



<!-- TO DO: update the project from Syntax II, also consider updating the project from Semantics II
- Syntax II: consider making the edits you and Troy discussed a few months back, and then think about reaching out to Adam to discuss ways that such tools or constraints can be implemented computationally. Adam might also have thoughts about your coding project from last semester that could be useful. BOTTOM LINE: Keep up connections, keep learning about these issues
- Semantics II: read through Simon's reviews, revisit the initial paper, consider the dynamic system - what aren't you understanding? how might your critique improve if you better understand that system? -->
