<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Crimson+Text&family=Hind+Madurai:wght@300&family=Vollkorn&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include sidebar.html %}
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
